.first-vacine-color{
    background: rgb(159,250,130);
    
}
.second-vacine-color{
    background:rgb(253,130,100);
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.table-title-text{
    background:transparent;
}
.popup-chart-container{
    box-shadow: 0.5px 0px 0px 0.5px rgb(32, 32, 32,0.3);
}
.chart-container{
    background: rgb(56,79,95);
    border: 1px solid white;
}
.vacination-stats-main,
.corona-stats-main,.table-blanks-container,::-webkit-scrollbar-track {
    background: rgb(73,102,122);
}
::placeholder,.flex,.light,table,.chart-range,.info-modal
,.chart-title,.table-body,.vacination-title,th,td,.popup-chart-container,
.stats-container,.table-title-text{
    color: white;
}
.stats-container,.chart-range,.vacination-title
,.table,td,.info-modal,.popup-chart-container,
.table-container,.blank-chart{
    background:  rgb(56,79,95);
}
.table{
    border-collapse: collapse; 
}
.noborder{
    border: 0px;
}
tr{
    height:50px;
    border-bottom: 0.5px solid white;
}

.more-info{
    background-color:white;
    color: black;
}
.info-modal{
    border: 1px solid white;
}
.accessable-display-button{
    background: rgb(146, 146, 146,0.5);
    color: black;
    font-weight: 100;
    border-color:transparent;
}
th{
    background: rgba(28, 34, 54, 0.8);
}
.search-bar{
    background: transparent;
    border-width:1px;
    color: rgb(91,108,120);
}
.gradeContainer{
    color: black;
}
.bolder-data{
    background: rgb(49,69,83);
}
.bolder-header{
    background: rgb(53,64,71);
}
th{
    background: rgb(42,59,71);
}
.logo-bar{
    background: white;
}
.logo-container{
    background: rgb(53,64,71);
}
.chart-range{
    border: 1px solid gray;
}
@media (max-width:400px){
    .chart-container{
        border-left: 0;
        border-right: 0;
    }
}