.first-vacine-color{
    background: rgba(42, 238, 107, 0.8);
}
.second-vacine-color{
    background:rgba(212, 83, 83, 0.8);
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.table-title-text{
    background:transparent;
}
.popup-chart-container{
    background: rgba(27, 36, 71, 1);
    border: 1px solid white;
}
.chart-container{
    background: rgba(27, 36, 71, 0.8);
    border: 1px solid white;
    padding: 15px;
}
.vacination-title,.vacination-stats-main,
.corona-stats-main,.table,.table-blanks-container,
.table-container,.blank-chart,td,::-webkit-scrollbar-track {
    background: rgba(38, 56, 124, 0.8);
}
::placeholder,.flex,.light,table,.chart-range,.info-modal
,.chart-title,.table-body,.vacination-title,th,td,
.stats-container,.table-title-text{
    color: white;
}
.stats-container,.chart-range{
    background: rgba(27, 36, 71, 0.8);
}
.info-modal{
    background: rgba(27, 36, 71,1);
}
.more-info{
    background-color:white;
    color: black;
}
.info-modal{
    border: 1px solid white;
}
.accessable-display-button{
    background: rgb(146, 146, 146,0.5);
    color: black;
    font-weight: 100;
    border-color:transparent;
}
th{
    background: rgba(28, 34, 54, 0.8);
}
.search-bar{
    background: transparent;
    border-width:1px;
    border-color: gray;
}
.gradeContainer{
    color: black;
}