.vacination-title{
    width: 95%; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: white;
}
.chart-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.chart-title-text{
    width: 55%;
    font-weight: 700;
}
.blanks{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.chart-range{
    background: rgb(229,242,245,0.5);
    border-radius: 15px;
    font-weight: 700;
    height: 30px;
    padding: 3px;
    padding-right: 4px;
    padding-left: 4px;
    border: 0px;
    margin-left: 40px;
}
.deceased-chart-button{
    position: relative;
    display: flex;
    top:80px;
    right: 5px;
}
.positives-chart-button{
    position: relative;
    display: flex;
    width: 100%;
    top:38px;
    right: 5px;
}
.deceased-chart-button:hover,
.positives-chart-button:hover{
    cursor: pointer;
}
.popup-chart-container{
    display: none;
    background: white;
    border-radius: 5px;
    border: 1px solid black;
}
.chart-container{
    width: 33.3336%;
    height: 350px;
    position: relative;
    border: 1px solid #e7e7e7;
    padding:24px;
    overflow: hidden;
}
.vacination-stats-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background:#edf1f7;
}
.charts-container{
    display: flex;
    width: 95%; 
    justify-content: center;
    align-items: center;
    background: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.open{
    display: flex;
    position: absolute;
    width: 400px;
    z-index: 30;
    height: 300px;
    top:00px;
    left: 480px;
}
.positioning{
    left:280px;
}