@media (max-width:400px){
    .main-header{
        height: 135px;
        position: fixed;
        padding-top: 10px;
        flex-wrap: wrap;
        z-index: 100;
        background: white;
    }
    .corona-stats-main{
        padding: 4px;
        padding-top: 150px;

        justify-content: center;
    }
    .title-container{
        width: 60%;
        margin-right: 10px;
    }
    .main-title{
        font-size: 0.8rem;
    }
    .sub-title{
        text-align: right;
        width: fit-content;
        font-size: 0.7rem;
        padding-right: 5px;
    }
    .accessable-display-button{
        font-size: 0.8rem;
        padding: 4px 8px;
        margin-left: 20px;
    }
    body{
        width: 100%;
    }
    .table{
        width: 100%;
    }
    .stats-container{
        width: 45%;
        margin: 8px auto;
    }
    .stats-body{
        margin: 0;
    }
    .more-info{
        min-width: 18px;

    }
    .info-modal{
        width: 200px;
        left: 150px;
    }
    .open{
        height: 300px;
        width: 92vw;
        top:390px;
        left:16px;
    }
    .charts-container{
        display: block;
    }
    .chart-container{
        width: 100%;
        padding-bottom: 44px;
    }
    .table-container{
        font-size: 0.8rem;
        padding:15px;
        margin-right: 0px;
    }
    .color-container{
        flex-direction: column;
        width: 50%;
        font-size: 0.7rem;
    }
    .media-div{
       flex-direction: column;
        width: 50%;
    }
    .wider{
        width: 100%;
    }
    th{
        font-size: 0.8rem;
    }
    .square{
        width: 20px;
        height: 20px;
    }
    .gradeContainer{
        margin: 0px;
    }
    .largest{
        height: 55%;
    }
    .medium{
        height: 35%;
    }
    .smallest{
        height: 15%;
    }
    .flex{
        margin-bottom: 30px;
    }
    .search-bar{
        margin-top: 4px;
        height: 30px;
    }
    .blank-chart{
        margin-right:0px;
    }
}