.table-blanks-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background:  #edf1f7;
    width: 100%;
}
.table{
    width: 100%;
    background:  #edf1f7;
}
.blank-chart{
    width: 400px;
    height: 300px;
    margin-right: 32px;
    margin-top: 10px;
    background: white;
    border-radius: 10px;
}
.table-container{
    margin-right: 32px;
    height: 300px;
    margin-top: 10px;
    width: 1050px;
    padding:25px;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    background:  white;
    border-radius: 10px;
}
.table-title-text{
    width: 60%;
    margin-left: 0px;
    background:white;

    font-weight: 700;
    font-size: 1.1rem;
}
.table-body{
    background: white   ;
}
.table-data{
    width: 150px;
    font-weight: 700;
    padding-top:10px;
    font-size: 14px;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 36px;
    padding-bottom: 6px;
}
.no-height{
    height:fit-content;
}
.media-div{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.search-bar{
    padding-right: 10px;
    border-radius: 15px;
}
.precentage-bar{
    height: 12px;
    display: inline-block;
    margin-right: 10px;
}
.first-vacine-color{
    background: rgb(28, 125, 126,0.8);
}
.second-vacine-color{
    background:rgb(182, 202, 81,0.8);
}
th{
    font: 400 1rem Arial;
}
th:hover{
    cursor: pointer;
}
.stoplight-green{
    background: lightgreen;
}
.stoplight-red{
    background: red;
}
.stoplight-yellow{
    background: yellow;
}
.stoplight-orange{
    background: orange;
}
.color-container{
    font-size: .9rem;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    width: min-content;
}
.color-text{
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin: 0 16px 0 16px;
}
.light{
    color: rgb(0, 0, 0,0.5);
    width: 100%;
    font-style: italic;
    font-weight: 200;
}
.small{
    font-size: 0.8rem;
}
.label-area{
    display: flex;
    flex-flow: column;
    line-height: 1.4em;
}
.size{
    width: 70%;
}
.smaller{
    width:700px;
}
.square{
    width: 32px;
    height: 32px;
    margin:4px;
}
.table-hospital{
    height: 30px;
}